{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishna</title>
    <style>
        /* Add CSS for image float */
        img {
            float: right;
            margin-left: 15px;
        }
    </style>
</head>
<body>
    <h1>Krishna</h1>
    <img src="{% static 'Adhi.jpeg' %}" alt="Krishna's Image" width="200"> <!-- Make sure to replace "krishna.jpg" with the correct image path -->
    <p>Krishna is a major deity in Hinduism. He is worshipped as the eighth avatar of the god Vishnu and also as the supreme God in his own right.</p>
    <p>He is known for his mischievous pranks as a young boy, his role as a charioteer in the epic Mahabharata, and his teachings to the warrior Arjuna in the Bhagavad Gita.</p>
    <p>Krishna is often depicted with blue skin, playing the flute, and surrounded by devotees.</p>
</body>
</html>
